 h1,h3,h5{
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
                color: red;
            }

            h2,h4,h6{
                font-size: 10px;
                font-family: Arial, Helvetica, sans-serif;
                color:brown;

            }
            p{
                font-style: italic;
                font-size: larger;
            }
            body{
                background-color: rgb(172, 159, 197);

            }
            ol{
                font-style: italic;
                font-size: 35px;
            }